* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
#container {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;

  header {
    height: 50px;
  }

  content {
    height: 0;
    flex-grow: 1;
    display: flex;

    aside {
      width: 200px;
    }

    >div {
      width: 0;
      flex-grow: 1;
    }
  }
}
